:root {
  --text-highlight-color: #153d73;
  --border-color: #ccc;
  --border-highlight-color: rgb(57, 113, 170);
  --cell-highlight-color: rgb(214, 238, 253);
}

hr {
  background-color: black;
  height: 3px;
}

h2 {
  color: var(--text-highlight-color);
  margin: 20px 10px;
}

.nolist {
  list-style-type: none;
}

/* 테이블 */

table {
  width: 1080px;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid var(--border-color);
  border-left: 3px solid var(--border-highlight-color);
  margin: 20px 10px;
}

table th {
  width: 145px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: var(--text-highlight-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

table td {
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

table p {
  margin: 5px 8px;
}

table ul {
  margin: 2px 20px;
  padding: 0;
}

/* 리스트 */

table ul {
  list-style-type: square;
}

.list {
  list-style-type: "🔹 ";
}

/* 해외 감염 현황 표 */

.abroadInf {
  width: 1080px;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border: 1px solid var(--border-color);
  margin: 20px 10px;
}

.abroadInf thead {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-top: 2px solid var(--border-highlight-color);
  border-bottom: 2px solid var(--border-highlight-color);
  background-color: var(--cell-highlight-color);
  margin: 20px 10px;
}

.abroadInf th {
  vertical-align: middle;
  width: auto;
}

/*국내 백신 접종 현황*/
#cntDate {
  text-align: right;
}

/*백신 접종 안내*/
.box {
  border: 1px solid var(--border-color);
  margin: 8px 12px;
  padding: 8px 12px 30px 40px;
}

button {
  background-color: var(--border-highlight-color);
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: var(--text-highlight-color);
}

/*예방 조치 안내*/

.imgbox {
  border: 1px solid var(--border-color);
  margin: 8px 12px;
  padding: 8px 12px 30px 40px;
  text-align: center;
}

.precautionVideo {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.line {
  background-color: var(--border-color);
  height: 1px;
}
