:root {
  --text-highlight-color: #153d73;
  --border-color: #ccc;
  --border-highlight-color: rgb(57, 113, 170);
}

hr {
  background-color: black;
  height: 3px;
}

h2 {
  color: var(--text-highlight-color);
  margin: 20px 10px;
}

/* 테이블 */

table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid var(--border-color);
  border-left: 3px solid var(--border-highlight-color);
  margin: 20px 10px;
}

table th {
  width: 145px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: var(--text-highlight-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

table td {
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

table p {
  margin: 5px 8px;
}

table ul {
  margin: 2px 20px;
  padding: 0;
}

/* 리스트 */

table ul {
  list-style-type: square;
}

.list {
  list-style-type: "🔹 ";
}
