:root {
  --text-color: white;
  --sub-text-color: #263343;
  --background-color: #263343;
  --logo-color: #f6efc3;
  --sub-menu-line: #435974;
}

header {
  margin: 0;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header a {
  text-decoration: none;
  color: var(--text-color);
}

/* 
*메뉴바
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 0px 12px;
}

.navbar__logo {
  font-size: 24px;
  white-space: nowrap; /*줄바꿈 막기*/
}

.navbar__logo i {
  color: var(--logo-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar__menu a {
  padding: 8px 12px;
}

.navbar__menu > li {
  font-size: 17px;
  text-align: center;
  width: 108px;
  padding: 18px 0px;
  margin: 0px 25px;
}

#navbar__menu__hover > a {
  border-bottom: 2px solid var(--logo-color);
}

.navbar__icon {
  list-style: none;
  color: var(--text-color);
  display: flex;
  font-size: 20px;
}

.navbar__icon > li {
  padding: 8px 12px;
}

/*
*lnb_local navigation bar
*/

.lnb.active {
  display: flex;
}

.lnb {
  display: none;
  justify-content: center;
  background-color: var(--logo-color);
  padding: 8px 12px;
}

.lnb ul:first-child {
  margin: 0px 0px 0px 95.69px;
}

.lnb ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  padding: 0px 4px;
  margin: 0;
}

.lnb li {
  list-style: none;
  border-bottom: 1px solid var(--sub-menu-line);

  padding: 8px 0px;
  width: 150px;
}

.lnb li a {
  color: var(--sub-text-color);
}

.lnb li:last-child {
  border-bottom: 0px;
}
