@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); /* 구글 폰트*/
@import "menubar.css";
@import "slide.css";
@import "container.css";
@import "footer.css";

a {
  font-family: "Noto Sans KR", sans-serif; /*구글 폰트*/
}

body {
  width: 1080px;
  height: calc(100vh - 75px - 200px);
  margin: 75px auto 0 auto;
}

/* header {
  width: 1080px;
  margin: 0 auto;
} */
