:root {
  --text-color: white;
  --background-color: #263343;
  --logo-color: tomato;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
}

.navbar__logo i {
  color: var(--logo-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu a {
  padding: 8px 12px;
}
.navbar__menu li {
  padding: 8px 0px;
  margin: 0px 5px;
}

.navbar__menu li:hover {
  background-color: var(--logo-color);
  border-radius: 4px;
}

.navbar__icon {
  list-style: none;
  color: var(--text-color);
  display: flex;
  font-size: 24px;
}

.navbar__icon li {
  padding: 8px 12px;
}
