<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 아이콘 사용 -->
    <script
      src="https://kit.fontawesome.com/55084df7fb.js"
      crossorigin="anonymous"
    ></script>
    <!-- css -->
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <header>
    <nav class="navbar">
      <div class="navbar__logo">
        <i class="fas fa-ambulance"></i>
        <a href="../index.html">Covid-19</a>
      </div>

      <ul class="navbar__menu">
        <li class="navbar__menu__sub">
          <a href="./news.html">뉴스&이슈</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./domesticInf.html">발생현황</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./covid19.html">감염예방</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./inoculation.html">백신접종</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./normal.html">공지사항</a>
        </li>
      </ul>

      <div class="navbar__icon">
        <!-- 아이콘 추가할것 -->
        <li>
          <a href=""><i class="fab fa-facebook-square"></i></a>
        </li>
      </div>
    </nav>
    <div class="lnb">
      <ul class="lnb__1">
        <li><a href="./news.html">보도자료</a></li>
      </ul>

      <ul class="lnb__2">
        <li><a href="./domesticInf.html">국내발생 현황</a></li>
        <li><a href="./abroadInf.html">국외발생 현황</a></li>
        <li><a href="./cityInf.html">시도별 발생동향</a></li>
      </ul>

      <ul class="lnb__3">
        <li><a href="./covid19.html">코로나19란?</a></li>
        <li><a href="./precaution.html">예방 조치 안내</a></li>
      </ul>

      <ul class="lnb__4">
        <li><a href="./inoculation.html">백신접종 안내</a></li>
        <li><a href="./domesticInoculation.html">국내접종 현황</a></li>
        <li><a href="./abroadInoculation.html">국외접종 현황</a></li>
      </ul>

      <ul class="lnb__5">
        <li><a href="./normal.html">일반인</a></li>
        <li><a href="./entrant.html">입국자</a></li>
        <li><a href="./medical.html">의료기관</a></li>
      </ul>
    </div>
  </header>
  <body>
    <h1>코로나19란?</h1>
    <hr>
    <br>

    <!--테이블-->
    <h2>코로나바이러스감염증-19(COVID-19)</h1>
    <table>
      <tbody>
        <tr>
          <th>외국어 표기</th>
          <td>
            <p>corona virus disease 19,</p>
            <p>COVID-19(영어)</p>
          </td>
        </tr>

        <tr>
          <th>최초 발생</th>
          <td>
            <p>2019년 12월</p>
            <p>중국 후베이(湖北)성 우한(武漢)</p>
          </td>
        </tr>

        <tr>
          <th>질병 분류</th>
          <td>
            <ul>
              <li>법정감염병 : 제1급감염병 신종감염병증후군</li>
              <li>질병 코드 : U07.1</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>병원체</th>
          <td>
            <ul>
              <li>
                Severe Acute Respiratory Syndrome-Coronavirus-2(SARS-CoV-2)
              </li>
              <li>
                Coronaviridae family, Betacoronavirus genus Sarbecovirus
                subgenus에 속함
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>전파경로</th>
          <td>
            <ul>
              <li>주된 전파경로는 감염자의 호흡기 침방울(비말)에 의한 전파</li>
              <li>
                사람 간에 전파되며, 대부분의 감염은 감염자가 기침, 재채기,
                말하기, 노래 등을 할 때 발생한 호흡기 침방울(비말)을 다른사람이
                밀접접촉(주로 2m 이내)하여 발생
              </li>
              <li>
                비말 이외, 표면접촉, 공기 등을 통해서도 전파가 가능하나,
                공기전파는 특정 환경에서 제한적으로 전파되는 것으로 알려짐
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>잠복기</th>
          <td>
            <p>1~14일 (평균 5~7일)</p>
          </td>
        </tr>

        <tr>
          <th>증상</th>
          <td>
            <ul>
              <li>임상 증상은 무증상, 경증, 중등증, 중증까지 다양</li>
              <li>
                주요 증상으로는 발열(37.5℃ 이상), 기침, 호흡곤란, 오한, 근육통,
                두통, 인후통, 후각·미각소실
              </li>
              <li>
                그 외에 피로, 식욕감소, 가래, 소화기증상(오심, 구토, 설사 등),
                혼돈, 어지러움, 콧물이나 코막힘, 객혈, 흉통, 결막염, 피부 증상
                등이 다양하게 나타남
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>치료</th>
          <td>
            <ul>
              <li>
                환자의 증상에 따른 대증치료(수액 보충, 해열제 등 보존적 치료)
                진행
              </li>
              <li>2020년 12월부터 영국을 시작으로 백신 접종</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>치명률</th>
          <td>
            <ul>
              <li>
                전세계 치명률은 약 3.4%(WHO, 3.5 기준). 단, 국가별 · 연령별
                치명률 수준은 매우 상이함
              </li>
              <li>
                고령, 면역기능이 저하된 환자, 기저질환을 가진 환자가 주로 중증,
                사망 초래
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" align="right">
            <a href="https://terms.naver.com/entry.naver?docId=5912275&cid=43667&categoryId=43667">
              출처: [네이버 지식백과] 코로나바이러스감염증-19 - (COVID-19)
              (시사상식사전, pmg 지식엔진연구소)
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
    <br>

    <!-- 설명 -->
    <h2>코로나 바이러스 분류 및 특성</h1>
    <ul class="list">
      <li>
        <h3>개요</h3>

        <p>
          코로나 바이러스(CoV)는 사람과 다양한 동물에 감염될 수 있는
          바이러스로서 유전자 크기 27~32kb의 RNA 바이러스
        </p>
      </li>
      <li>
        <h3>분류</h3>

        <p>코로나 바이러스과에는 4개의 속(알파, 베타, 감마, 델타)이 있음</p>

        <ul>
          <li>알파 · 베타 : 사람과 동물에게 감염</li>
          <li>감마 · 델타 : 동물에게 감염</li>
        </ul>
      </li>
      <li>
        <h3>형태</h3>

        <p>형태는 코로나 바이러스의 명명과 같이 전자현미경 관찰시 구형</p>

        <ul>
          <li>외부 spike 단백질이 특징적인 크라운형태</li>
        </ul>
      </li>
      <li>
        <h3>사람감염 코로나 바이러스</h3>

        <p>사람감염 코로나 바이러스는 현재까지 6종류가 알려져 있음</p>

        <ul>
          <li>감기를 일으키는 유형(229E, OC43, NL63, HKU1)</li>
          <li>중증폐렴을 일으킬 수 있는 유형(SARS-CoV, MERS-CoV)</li>
        </ul>
      </li>
      <br>
      <a href="http://ncov.mohw.go.kr/baroView.do?brdId=4&brdGubun=41">출처: 코로나바이러스감염증-19(COVID-19) 사이트</a>
    </ul>
  </body>
  <!-- js -->
  <script src="../public/js/menuExpend.js"></script>
</html>
