<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 아이콘 사용 -->
    <script
      src="https://kit.fontawesome.com/55084df7fb.js"
      crossorigin="anonymous"
    ></script>
    <!-- css -->
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <header>
    <nav class="navbar">
      <div class="navbar__logo">
        <i class="fas fa-ambulance"></i>
        <a href="../index.html">Covid-19</a>
      </div>

      <ul class="navbar__menu">
        <li class="navbar__menu__sub">
          <a href="./news.html">뉴스&이슈</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./domesticInf.html">발생현황</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./covid19.html">감염예방</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./inoculation.html">백신접종</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./normal.html">공지사항</a>
        </li>
      </ul>

      <div class="navbar__icon">
        <!-- 아이콘 추가할것 -->
        <li>
          <a href=""><i class="fab fa-facebook-square"></i></a>
        </li>
      </div>
    </nav>
    <div class="lnb">
      <ul class="lnb__1">
        <li><a href="./news.html">보도자료</a></li>
      </ul>

      <ul class="lnb__2">
        <li><a href="./domesticInf.html">국내발생 현황</a></li>
        <li><a href="./abroadInf.html">국외발생 현황</a></li>
        <li><a href="./cityInf.html">시도별 발생동향</a></li>
      </ul>

      <ul class="lnb__3">
        <li><a href="./covid19.html">코로나19란?</a></li>
        <li><a href="./precaution.html">예방 조치 안내</a></li>
      </ul>

      <ul class="lnb__4">
        <li><a href="./inoculation.html">백신접종 안내</a></li>
        <li><a href="./domesticInoculation.html">국내접종 현황</a></li>
        <li><a href="./abroadInoculation.html">국외접종 현황</a></li>
      </ul>

      <ul class="lnb__5">
        <li><a href="./normal.html">일반인</a></li>
        <li><a href="./entrant.html">입국자</a></li>
        <li><a href="./medical.html">의료기관</a></li>
      </ul>
    </div>
  </header>
  <body>
    백신접종안내
    <a href="../index.html">돌아가기</a>
  </body>
  <!-- js -->
  <script src="../public/js/menuExpend.js"></script>
</html>
