<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 아이콘 사용 -->
    <script
      src="https://kit.fontawesome.com/55084df7fb.js"
      crossorigin="anonymous"
    ></script>
    <!-- css -->
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <header>
    <nav class="navbar">
      <div class="navbar__logo">
        <i class="fas fa-ambulance"></i>
        <a href="../index.html">Covid-19</a>
      </div>

      <ul class="navbar__menu">
        <li class="navbar__menu__sub">
          <a href="./news.html">뉴스&이슈</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./domesticInf.html">발생현황</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./covid19.html">감염예방</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./inoculation.html">백신접종</a>
        </li>
        <li class="navbar__menu__sub">
          <a href="./normal.html">공지사항</a>
        </li>
      </ul>

      <div class="navbar__icon">
        <!-- 아이콘 추가할것 -->
        <li>
          <a href=""><i class="fab fa-facebook-square"></i></a>
        </li>
      </div>
    </nav>
    <div class="lnb">
      <ul class="lnb__1">
        <li><a href="./news.html">보도자료</a></li>
      </ul>

      <ul class="lnb__2">
        <li><a href="./domesticInf.html">국내발생 현황</a></li>
        <li><a href="./abroadInf.html">국외발생 현황</a></li>
        <li><a href="./cityInf.html">시도별 발생동향</a></li>
      </ul>

      <ul class="lnb__3">
        <li><a href="./covid19.html">코로나19란?</a></li>
        <li><a href="./precaution.html">예방 조치 안내</a></li>
      </ul>

      <ul class="lnb__4">
        <li><a href="./inoculation.html">백신접종 안내</a></li>
        <li><a href="./domesticInoculation.html">국내접종 현황</a></li>
        <li><a href="./abroadInoculation.html">국외접종 현황</a></li>
      </ul>

      <ul class="lnb__5">
        <li><a href="./normal.html">일반인</a></li>
        <li><a href="./entrant.html">입국자</a></li>
        <li><a href="./medical.html">의료기관</a></li>
      </ul>
    </div>
  </header>
  <body>
    <h1>일반인</h1>
    <hr />
    <br />
    <p id="postsNum"></p>
    <br />

    <details class="post">
      <summary>
        등교수업 전환 현장 지원을 위한 방역 세부지침 개정판 및 교수학습평가
        가이드라인 마련
      </summary>
      <p>담당 :교육부</p>
      <p>작성일 :2020-05-07 17:48</p>
      <hr class="line" />
      <pre>
        ◈ 등교수업 전환 현장지원을 위한 방역 세부지침 개정판 및 교수학습평가
        가이드라인 마련
         - 에어컨은 모든 창문 1/3 개방 시 사용 가능 등 기존 지침 보완
         - 교원이 학생과 수업에 전념할 수 있도록 지원 인력 보강 
        □ 교육부(유은혜 부총리 겸 교육부장관)는 오늘(’20.5.7.) 제13차 신학기 개학준비 추진단 회의를 개최하고 
        시도교육청 부교육감과 함께 안정적인 등교수업 전환과 이를 위한 현장 지원 방안을 논의하였다. 
        ◦ 교육부는 추진단 회의를 바탕으로 「유‧초‧중등 및 특수학교 코로나19 감염 예방 관리 안내(학교방역 가이드라인)」
        지침 수정본과 ｢코로나19 대응을 위한 등교수업 출결‧평가‧기록 가이드라인(교수학습평가 가이드라인)｣ 및 
        ｢유치원 개학 이후 학사운영 가이드 라인｣을 확정하여 시도교육청과 학교에 안내한다고 밝혔다.
        * 자세한 사항은 첨부된 보도자료 참조
      </pre>
    </details>
    <br />
    <details class="post">
      <summary>긴급재난지원금 안내문자 URL누르지 마세요</summary>
      <p>담당 :대한민국정부</p>
      <p>작성일 :2020-05-04 20:33</p>
      <hr class="line" />
      <pre>
        □ 행정안전부(장관 진영)는 긴급재난지원금을 사칭한 스미싱(문자메시지 해킹 사기) 등에 따른 
        피해방지를 위해 이용자들의 주의를 당부했다.

        □ 5월 4일부터 긴급재난지원금 관련 절차들이 시작되는 만큼, 정부, 지자체, 카드사 등에서
         안내 문자가 발송될 예정이나,
         이들 기관에서 발송하는 안내 문자에는 인터넷주소(URL) 링크가 포함되지 않는다고 밝혔다.
         
        □ 따라서, 긴급재난지원금과 관련하여 인터넷주소 클릭을 유도하는 문자는 스미싱 문자로 의심되므로,
          해당 사이트에 절대 접속하지 말고 즉시 삭제하는 등 각별한 주의가 필요하다고 밝혔다.
      </pre>
    </details>
  </body>
  <!-- js -->
  <script src="../public/js/menuExpend.js"></script>
  <script src="../public/js/normal.js"></script>
</html>
